.assessment-categories {
    font-size: 1.2em;
    margin: 15px 0px 15px 0px;
    padding: 0px 0px 10px 0px;
}
.assessment-category {
    font-weight: bold;
}

.cup {
    height: 192px;
    width: 192px;
    display: block;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.cup-arrow {
    display: block;
    font-size: 50px;
    text-align: center;
}

.cup-inactive {
    opacity: 0.3;
}

.cup-ruler {
    border-top: 2px solid;
    border-left: 2px solid;
    height: 10px;
    margin-bottom: 10px;
}

.footer-page {
    margin: 50px 0px 20px 0px;
}

.header-image {
    width: 100%;
    margin: -20px 0px 20px 0px;

}
/** Prevent range controls taking up the whole line breaking labels **/
.importance {
    padding: 0px 2px 0px 2px;
    border: 1px;
    border-color: rgb(188, 232, 241);
    border-style: solid;
    border-radius: 4px;
    background-color: white;
    font-size: 12px;
}

input[type="range"] {
    width:100px;
    display:inline;
    padding: 5px;
    vertical-align: middle;
}

input[type="radio"] {
    vertical-align: -3px;
}

input[type="checkbox"] {
    vertical-align: -3px;
}

.metric-row {
    display: inline;
    margin-bottom: 10px;
}

.metric-question {
    font-weight: normal;
    display: inline;
}

.metrics-award-text {
    margin: 10px 5px 5px 5px;
    color: gray;
    text-decoration: line-through;
    font-size: 1.2em;
}

.metrics-award-text-passed {
    color: initial ;
    text-decoration: none;
}

h2, h3, h4, h5 {
    font-weight: bold;
}

h4.preamble {
    margin-bottom: 20px;
}

h1.award-level {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 4.0em;
}



ul li label {
    display: inline;
    font-weight: normal;
}

