/** Prevent range controls taking up the whole line breaking labels **/
.importance {
    padding: 0px 2px 0px 2px;
    border: 1px;
    border-color: rgb(188, 232, 241);
    border-style: solid;
    border-radius: 4px;
    background-color: white;
    font-size: 12px;
}

input[type="range"] {
    width:100px;
    display:inline;
    padding: 5px;
    vertical-align: middle;
}

input[type="radio"] {
    vertical-align: -3px;
}

input[type="checkbox"] {
    vertical-align: -3px;
}

.metric-row {
    display: inline;
    margin-bottom: 10px;
}

.metric-question {
    font-weight: normal;
    display: inline;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

ul li label {
    display: inline;
    font-weight: normal;
}

h2, h3, h4, h5 {
    font-weight: bold;
}

h4.preamble {
    margin-bottom: 20px;
}
