{% extends "base.html" %}

{% block page_content %}
    <div ><img class="header-image" src="{{ url_for('static', filename='images/dials.jpg') }}"></div>
    <div class="jumbotron">
        <h1>Software Assessment Framework</h1>
        <h2>Understanding the quality of your rearch software</h2>
        <p>The Software Assessment Framework is a tool to make it
            easier for developers to understand the "quality" of a piece
            of research software, which in turn will allow them to improve
            software reuse and increase recognition for good software development practice.
        </p>
    </div>
    <div>
        <h3>Assessment Categories</h3>
        <div class="assessment-categories">The top level assessment categories are:
            <p>&nbsp;</p>
            <ul>
                <li><span class="assessment-category">Availability:</span> can a user find the software (discovery) and can they obtain the software (access)?
                <li><span class="assessment-category">Usability:</span> can a user understand the operation of the software, such that they can use it, integrate it with other software, and extend or modify it?
                <li><span class="assessment-category">Maintainability:</span> what is the likelihood that the software can be maintained and developed over a period of time?
                <li><span class="assessment-category">Portability:</span> what is the capacity for using the software in a different area, field, or environment?
            </ul>
        </div>


        <span><a class="btn btn-primary btn-lg" href="{{ url_for('submit') }}" role="button">Assess your software</a></span>
        <span><a class="btn btn-primary btn-lg" href="{{ url_for('browse') }}" role="button">Browse submitted software</a></span>
    </div>


{% endblock %}
