{% extends "base.html" %}

{% block page_content %}
    <div class="page-header">
        <h2>Automated Metrics</h2>
        <h3>{{ software.name }}</h3>
    </div>

    <form action="{{ url_for('metrics_automated') }}" method="POST">
    {{ form.csrf_token }}

    {% if form.metrics_availability.choices|length > 0 %}
        <h3>{{ form.metrics_availability.label }}</h3>
        <div>{{ form.metrics_availability }}</div>
    {% endif %}

    {% if form.metrics_usability.choices|length > 0 %}
        <h3>{{ form.metrics_usability.label }}</h3>
        <div>{{ form.metrics_usability }}</div>
    {% endif %}

    {% if form.metrics_maintainability.choices|length > 0 %}
        <h3>{{ form.metrics_maintainability.label }}</h3>
        <div>{{ form.metrics_maintainability }}</div>
    {% endif %}

    {% if form.metrics_portability.choices|length > 0 %}
        <h3>{{ form.metrics_portability.label }}</h3>
        <div>{{ form.metrics_portability }}</div>
    {% endif %}

    <div>{{ form.submit() }}</div>
    </form>

{% endblock %}
