{% extends "base.html" %}

{% macro render_category(cat_name, cat_scores) %}

    {% if cat_scores.all()|length > 0 %}
        <h3><label>{{ cat_name }}</label></h3>
        <h5>Category Importance: {{ cat_scores.first().category_importance }}</h5>
        <ul>
            {% for score in cat_scores %}
                <li>
                    <div>
                        <h4>{{ score.short_description }}</h4>
                        <div>Score: {{ score.value }}</div>
                        <div>Feedback: {{ score.feedback }}</div>
                        <div>Metric Importance: {{ score.metric_importance }}</div>
                    </div>
                </li>
            {%  endfor %}
        </ul>
    {% endif %}

{% endmacro %}

{% block page_content %}
    <div class="page-header">
        <h2>Metrics Scores</h2>
        <h3>{{ software.name }} {{ software.version }}</h3>
    </div>

    {% for cat_name, cat_scores in scores.items() %}
        {{ render_category(cat_name, cat_scores) }}
    {% endfor %}

    <div>
        See what level of <a href="/metrics/awards/{{ software.id }}">Award</a> this achieves
    </div>
{% endblock %}
