{% extends "base.html" %}

{% macro metric_block(metric_subform) %}
    <div class="panel panel-info">
        <div class="panel-heading ">
            <div class="panel-title">
                <div class="row">
                    <span class="col-sm-7">{{ metric_subform.label }}</span>
                    <div class="col-sm-5" title="Move the slider to indicate the importance of this to you">
                        <div class="importance pull-right">
                            <span class="label label-danger">Not important</span>
                            <span>{{ metric_subform.importance }}</span>
                            <span class="label label-success">Very important</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <h4>{{ metric_subform.description }}</h4>
            <hr/>
            <ol class="metric-question">
            {% for field in metric_subform %}
                {% if field.type == "BooleanField" or field.type == "RadioField"%}
                    {% set importance_id = "IMPORTANCE_"+field.id[5:49] %}
                    <div class="row">
                        <li>
                            <div class="col-sm-7">
                             {{ field.label}} {{ field }}
                            </div>
                            <div class="col-sm-5" title="Move the slider to indicate the importance of this to you">
                                <div class="importance pull-right">
                                    <span class="label label-danger">Not important</span>
                                    <span>{{ metric_subform.form[importance_id] }}</span>
                                    <span class="label label-success">Very important</span>
                                </div>
                            </div>
                        </li>
                    </div>
                 {% endif %}
            {% endfor %}
            </ol>
        </div>
    </div>
{% endmacro %}


{% block page_content %}
    <div class="container">
        <div class="page-header">
            <h2>{{ page_title }}</h2>
            <h3>{{ software.name }}</h3>
        </div>

        <form action="{{ url_for(form_target) }}" method="POST">
            {% for f in form %}
                {% if f.type == "FormField" %}
                    {{ metric_block(f) }}
                {% endif %}
            {% endfor %}
            <div>{{ form.submit(class_="btn btn-default") }}</div>
        </form>
    </div>

{% endblock %}