{% extends "base.html" %}

{% block page_content %}
    <div class="page-header">
        <h2>{{ software.name }} - Select Metrics</h2>
    </div>
    <form action="{{ url_for('metrics_selection') }}" method="POST">
    {{ form.csrf_token }}
    <h3>{{ form.metrics_availability.label }}</h3>
    <div>{{ form.metrics_availability }}</div>

    <h3>{{ form.metrics_usability.label }}</h3>
    <div>{{ form.metrics_usability }}</div>

    <h3>{{ form.metrics_maintainability.label }}</h3>
    <div>{{ form.metrics_maintainability }}</div>

    <h3>{{ form.metrics_portability.label }}</h3>
    <div>{{ form.metrics_portability }}</div>

    <div>{{ form.submit() }}</div>
    </form>

{% endblock %}
