{% extends "base.html" %}

{% macro metric_block(metric_subform) %}
    <div class="panel panel-info">
        <div class="panel-heading ">
            <div class="panel-title">
                <div class="row">
                    <span class="col-sm-7">{{ metric_subform.label }}</span>
                    <div class="col-sm-5" title="Move the slider to indicate the importance of this to you">
                        <div class="importance pull-right">
                            <span class="label label-danger">Not important</span>
                            <span>{{ metric_subform.importance }}</span>
                            <span class="label label-success">Very important</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <h5>{{ metric_subform.description }}</h5>
            <hr/>
            {% set question_index = [] %}
            {% for field in metric_subform %}
                {% if field.type == "BooleanField" or field.type == "RadioField" %}
                    {% set __ = question_index.append(1) %}
                    {% set importance_id = "IMPORTANCE_"+field.id[5:49] %}

                        <div class="row">
                            <div class="col-sm-7 metric-row">{{ question_index|length }}.
                            {% if field.type == "RadioField" %}
                                {{ field.label(class="metric-question")}}{{ field(class="metric-question") }}
                            {% else %}
                                {{ field(class="metric-question") }} {{ field.label(class="metric-question") }}
                            {% endif %}
                            </div>
                            <div class="col-sm-5" title="Move the slider to indicate the importance of this to you">
                                <div class="importance pull-right">
                                    <span class="label label-danger">Not important</span>
                                    <span>{{ metric_subform.form[importance_id] }}</span>
                                    <span class="label label-success">Very important</span>
                                </div>
                            </div>
                        </div>

                 {% endif %}
            {% endfor %}

        </div>
    </div>
{% endmacro %}


{% block page_content %}
    <div class="container">
        <div class="page-header">
            <h2>{{ page_title }}</h2>
            <h3>{{ software.name }}</h3>
        </div>

        <h4 class="preamble">{{ preamble }}</h4>
        <div>
            <form action="{{ url_for(form_target) }}" method="POST">
                {% for f in form %}
                    {% if f.type == "FormField" %}
                        {{ metric_block(f) }}
                    {% endif %}
                {% endfor %}
                <div>{{ form.submit(class_="btn btn-default loading", onclick="loading()") }}</div>
            </form>
            <script type="text/javascript">// <![CDATA[
            function loading(){
                $(".loading").css('background', 'url(/static/images/ajax-loader.gif) no-repeat center');
            }
            // ]]></script>
        </div>
    </div>

{% endblock %}